path/to/large-file.extension filter=lfs diff=lfs merge=lfs -text
little-lemon/node_modules/.cache/default-development/* filter=lfs diff=lfs merge=lfs -text
little-lemon/node_modules/.cache/** filter=lfs diff=lfs merge=lfs -text
