.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#fff;
    color: black;

}

.logo-header{
    margin: 20px;
    width:400px;
}


.navbar-links ul {
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    text-align: center;
    color: var(--primary-color);
    display: block;
    padding: 12px;
    font-size:18px;
}

.navbar-links li:hover {
    background-color: #495E57;
    border-radius: 12px;

}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 900px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
    }

    .logo-header{
        width: 200px;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links.active{
        display: flex;
        align-items: center;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

